name: Deploy to BunnyCDN
on: 
  push:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install and Build
        run: |
          npm ci
          npm run build
      - name: Upload to BunnyCDN
        uses: ayeressian/bunnycdn-storage-deploy@v2.2.5
        with:
          source: "dist" 
          storageZoneName: "bunny-bulk-store1-sydney"
          storagePassword: "${{ secrets.BUNNY_STORAGE_PASSWORD }}"
          accessKey: "${{ secrets.BUNNY_ACCESS_KEY }}"
          upload: "true"
      
      - name: Purge Cache
        run: |
            curl --request POST \
            --url https://api.bunny.net/pullzone/5179130/purgeCache \
            --header 'AccessKey: ${{ secrets.BUNNY_ACCESS_KEY }}'
